@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0;
}

.layout {
  @apply flex gap-4; 
}

.content {
  @apply flex flex-col flex-grow;
}

.breadcrumb {
  @apply flex gap-6 list-none p-2 border-b border-gray-200; 
}

.breadcrumb a {
  @apply text-blue-600 no-underline; 
}

.menu {
  @apply flex-shrink-0 p-2 border-r border-gray-200;
}

.menu a {
  @apply text-black;
}

.menu .active {
  @apply font-bold;
}

.menu ul {
  @apply pl-4; 
}


@media screen and (max-width: 751px) {
  .layout {
    @apply flex;
  }

  .menu {
    @apply border-r-0 border-b border-gray-200;
  }
}

.page-container {
  @apply mx-auto my-2 py-2 px-4 bg-slate-50 border rounded drop-shadow-md;
}

.page-title {
  @apply text-xl font-bold;
}

.page-header {
  @apply py-4 flex justify-between items-center mb-6;
}

.bar-chart-container .recharts-bar-rectangle {
  
  filter: drop-shadow(0px 0px 0px transparent);
}


.hoverDropHead,
.hoverDropPara,
.dropDownContent,
.cardHead,
.cardBody,
.percent {
  font-family: 'Inter', sans-serif;
  text-align: left;
}

.hoverDropHead {
  @apply text-sm font-semibold leading-4; 
}

.hoverDropPara {
  @apply text-xs font-normal leading-5;
}

.dropDownContent {
  @apply text-sm font-normal leading-3;
}

.cardHead {
  @apply text-base font-semibold leading-4;
}

.cardBody {
  @apply text-2xl font-semibold leading-6;
}

.percent {
  @apply text-xs font-normal leading-4;
}
